Happy Holidays, <%= @user.first_name %>!

<p>
  Thank you for registering for Christmas Name Draw 2014. You can start adding items to your wishlist by visiting <%= link_to('http://christmas-name-draw.herokuapp.com', 'http://christmas-name-draw.herokuapp.com') %>.
</p>