body[class^='devise'] {
  background-image: url('home/pike-place-christmas-white.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    text-align: center;
  }

  form {
    margin-top: 2em;
  }
}