@import "colors";

body[class^='devise'], body.custom_registration-new, body.custom_registration-create, body.users-facebook {
  background-image: image-url('home/pike-place-christmas-white.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @media (max-width: 768px) {
    background-position: 12% center;
  }

  h1 {
    text-align: center;
  }

  form {
    margin-top: 2em;
  }

  #error_explanation {
    text-align: center;
    ul {
      list-style-type: none;
    }
    li {
      color: $red;
    }
    h2 {
      font-size: 2em;
    }
  }

  #fb-connect {
    text-align: center;
    margin: 3em;
    font-size: 1.2em;

    a {
      width: 190px;
      display: block;
      background-color: #3b579d;
      background-image: image-url('icons/facebook.png');
      background-repeat: no-repeat;
      background-position: 2% 40%;
      padding-left: 22px;
      color: #fff;
      margin: 0 auto;
    }
  }
}

body.users-facebook {
  .facebook-confirm {
    font-size: 1.75em;
    color: $green;
    text-align: center;
  }

  #family-group {
    padding: 1em;
    background-color: rgba(150,40,27, 0.5)
  }
}